#nav {
    border-bottom: 1px solid #D3D3D3;
}

#navbarText {
    margin: 0px 50px 0px 0px;
}

img { 
    float: left;
    width: 300px;
    margin: 0px 20px 15px 0px;
}

#wrapper {
    padding: 135px 20px 50px 20px;
    background-color: #eee;
    margin: 0px;
}

#content {
    padding: 20px;
    background-color: #fff;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 18px;
    letter-spacing: 2px;
    

}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: 1px solid;
    border-bottom-color: #777777;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

footer {
    background-color: #777777;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: 5px solid;
    border-color: #4aaaa5;
    height: 100px;
    padding-top: 35px;
    margin: 0px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;

}

#header {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    padding: 15px;
    font-size: 30px;
    margin: 0px 0px 0px 80px;
}

.prj {
    width: 200px;
    margin: 20px;
}

h5 {
    position: relative;
    top: 75%;
    width: 200px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4aaaa5;
}

.prj-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

